.modal-currencies {
  background: $bg-primary;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 5px;
  top: 65px;
  left: -20px;
  padding: 12px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: default;

  &__ {
    &item {
      font-weight: $medium;
      padding: 8px 20px;
      width: 114px;
      line-height: 160%;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
  }
}
